html,
body {
	margin: 0;
	padding: 0;
	border: 1px solid darkgray;
}

.box {
	border: 1px solid darkgray;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header {
	flex: 5%;
	display: flex;
	flex-direction: row;
}

.header-aside {
	flex: 0.5;
}

.header-main {
	flex: 2;
}

.main {
	display: flex;
	flex-direction: column;
	flex: 90%;
}

.span-1 {
	flex: 16%;
}

.footer {
	flex: 5%;
}
